<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean name="college" class="com.ph3.College">
		<property name="cid" value="1"/>
		<property name="collegeName" value="Simplilearn"/>
		<property name="courses">
			<list>
				<value>Java</value>
				<value>Python</value>
				<value>.Net</value>
			</list>
		</property>
	</bean>

</beans>
